/*///// Defaults /////*/
body{
    min-width: 500px;
    font-family: sans-serif;
    font-weight: bold;
}

a{
    color: black;
    text-decoration: none;
}

hr{
    margin: 0 30px;
    border-color: dimgrey;
}

p{
    margin: 0;
}
/*////////////////////*/

/*///// Header /////*/
header{
    display: flex;
    margin: 40px 30px 0 30px;
    justify-content: space-between;
}

header h1{
    margin: 0 10px;
}

div.header-buttons{
    display: flex;
}

.header-button-margin{
    margin-right: 2em;
}

div.header-button-style{
    cursor: pointer;
    padding: 3px 8px;
    box-shadow: 3px 3px;
    border: solid 2px black;
}
/*//////////////////*/

/*///// Footer /////*/
footer{
    padding: 1.5em 0 1em 0;
    text-align: center;
    font-weight: normal;
}
/*//////////////////*/
